<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css')}}">
    <title>Login/registration</title>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <h1>Password-storage</h1>
        </div>
        <div class="log-reg">
            <div class="login-table">
                <form method="post">
                    <h2>Введите имя пользователя:</h2>
                    <input name="name" id="name" placeholder="Name">
                    <h2>Введите пароль:</h2>
                    <input name="password" id="password" placeholder="Password">
                    <h2>Подтвердите пароль:</h2>
                    <input name="check-password" id="check-password" placeholder="Password">

                    <center>
                        <p style="absolute" class="text-alert center">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                        </p>
                    </center>

                    <button type="submit" class="btn">Register</button>
                </form>
            </div>
        </div>
    </div>

</body>
<script  type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
</html>